.container-reproductor{
    display: flex;
    
    
}

.material-symbols-outlined{
    font-size: 85px;
    color: #BABABA;
    cursor: pointer;
    
}
.material-symbols-outlined:hover{
    color: white;
}

.play:hover{
    background-color: #BABABA;
    border-radius: 100%;
    color: white;
    transition: .6s;
}




/* 
.active {
    display: none;
  }
  
  .inactive {
    display: block;
  }

  */